[Unit]
Description=Postgres Database Service
After=etcd.service
After=docker.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a postgres || /usr/bin/docker run --name postgres grubdice/postgres'
ExecStartPost=/usr/bin/etcdctl set /database/grubdice.co/%H:%i running
ExecStop=/usr/bin/docker stop postgres
ExecStopPost=/usr/bin/etcdctl rm /database/grubdice.co/%H:%i

[Install]
WantedBy=local.target
